In [80]:
import pandas as pd
import numpy as np

In [81]:
#Importing of data
df = pd.read_csv("Fortune 1000 Companies by Revenue.csv")

In [82]:
df

,rank,name,revenues,revenue_percent_change,profits,profits_percent_change,assets,market_value,change_in_rank,employees
0,1,Walmart,"$572,754",2.40%,"$13,673",1.20%,"$244,860","$409,795",-,"2,300,000"
1,2,Amazon,"$469,822",21.70%,"$33,364",56.40%,"$420,549","$1,658,807.30",-,"1,608,000"
2,3,Apple,"$365,817",33.30%,"$94,680",64.90%,"$351,002","$2,849,537.60",-,"154,000"
3,4,CVS Health,"$292,111",8.70%,"$7,910",10.20%,"$232,999","$132,839.20",-,"258,000"
4,5,UnitedHealth Group,"$287,597",11.80%,"$17,285",12.20%,"$212,206","$479,830.30",-,"350,000"
...,...,...,...,...,...,...,...,...,...,...
995,996,Vizio Holding,"$2,124",4%,($39.40),-138.40%,$935.80,"$1,705.10",-,800
996,997,1-800-Flowers.com,"$2,122.20",42.50%,$118.70,101.10%,"$1,076.70",$830,-,"4,800"
997,998,Cowen,"$2,112.80",30.20%,$295.60,36.60%,"$8,748.80",$744.10,-,"1,534"
998,999,Ashland Global Holdings,"$2,111",-11.20%,$220,-,"$6,612","$5,601.90",-130,"4,100"
999,"1,000",DocuSign,"$2,107.20",45%,($70),-,"$2,541.30","$21,302.80",-,"7,461"

In [83]:
df.columns

Index(['rank ', 'name ', 'revenues ', 'revenue_percent_change', 'profits ',
       'profits_percent_change', 'assets', 'market_value ', 'change_in_rank',
       'employees '],
      dtype='object')

In [84]:
#Correcting of column names
df.rename(columns={'rank ': 'rank', 
                   'name ':'name', 
                   'revenues ': 'revenues',
                  'profits ': 'profits',
                  'market_value ': 'market_value',
                  'employees ': 'employees'}, inplace= True)
df.columns

Index(['rank', 'name', 'revenues', 'revenue_percent_change', 'profits',
       'profits_percent_change', 'assets', 'market_value', 'change_in_rank',
       'employees'],
      dtype='object')

In [86]:
df.loc[df['revenue_percent_change'] == '-']

,rank,name,revenues,revenue_percent_change,profits,profits_percent_change,assets,market_value,change_in_rank,employees
394,395,Jackson Financial,"$8,848",-,"$3,183",-,"$375,484","$3,895.10",-,"3,150"
429,430,GXO Logistics,"$7,940",-,$153,-,"$7,271","$8,193",-,"97,500"
479,480,Victoria's Secret,"$6,784.60",-,$646.40,-,"$4,344","$4,330.40",-,"24,000"
556,557,Concentrix,"$5,587",-,$405.60,-,"$5,046.40","$8,605.20",-,"290,000"
619,620,OneMain Holdings,"$4,895",-,"$1,314",80%,"$22,079","$6,042.80",-84,"8,800"
922,923,Kontoor Brands,"$2,475.90",-,$195.40,-,"$1,533","$2,325.30",-,"14,000"
969,970,TTM Technologies,"$2,248.70",-,$54.40,-69.40%,"$3,025.50","$1,506.20",-65,"16,100"
994,995,BWX Technologies,"$2,124.10",-,$305.90,9.80%,"$2,501.40","$4,925.60",-63,"6,600"

In [78]:
#Cleaning of data
df[df.columns[2]] = df[df.columns[2]].replace('[\$,]', '', regex=True).replace('', '0').astype(float)
df[df.columns[3]] = df[df.columns[3]].replace('[\$,\%\-]', '', regex=True).replace('', '0').astype(float)
df[df.columns[4]] = df[df.columns[4]].replace('[\$,()\-]', '', regex=True).replace('', '0').astype(float)
df[df.columns[5]] = df[df.columns[5]].replace('[\$,\%\-]', '', regex=True).replace('', '0').astype(float)
df[df.columns[6]] = df[df.columns[6]].replace('[\$,]', '', regex=True).replace('', '0').astype(float)
df[df.columns[7]] = df[df.columns[7]].replace('[\$,\-]', '', regex=True).replace('', '0').astype(float)
df[df.columns[7]] = df[df.columns[7]].replace('[\-]', '', regex=True).replace('', '0').astype(float)
df[df.columns[9]] = df[df.columns[9]].replace('[\$,\-]', '', regex=True).replace('', '0').astype(int)

In [79]:
df

,rank,name,revenues,revenue_percent_change,profits,profits_percent_change,assets,market_value,change_in_rank,employees
0,1,Walmart,572754.0,2.4,13673.0,1.2,244860.0,409795.0,-,2300000
1,2,Amazon,469822.0,21.7,33364.0,56.4,420549.0,1658807.3,-,1608000
2,3,Apple,365817.0,33.3,94680.0,64.9,351002.0,2849537.6,-,154000
3,4,CVS Health,292111.0,8.7,7910.0,10.2,232999.0,132839.2,-,258000
4,5,UnitedHealth Group,287597.0,11.8,17285.0,12.2,212206.0,479830.3,-,350000
...,...,...,...,...,...,...,...,...,...,...
995,996,Vizio Holding,2124.0,4.0,39.4,138.4,935.8,1705.1,-,800
996,997,1-800-Flowers.com,2122.2,42.5,118.7,101.1,1076.7,830.0,-,4800
997,998,Cowen,2112.8,30.2,295.6,36.6,8748.8,744.1,-,1534
998,999,Ashland Global Holdings,2111.0,11.2,220.0,0.0,6612.0,5601.9,-130,4100
999,"1,000",DocuSign,2107.2,45.0,70.0,0.0,2541.3,21302.8,-,7461

Adjusting of Revenues, Profits, Assets, and Market Value into proper numerical unit (Multiplied by a **million**)

In [ ]:
df['revenues'] = df['revenues'].apply(lambda x: x*1000000)
df['profits'] = df['profits'].apply(lambda x: x*1000000)
df['assets'] = df['assets'].apply(lambda x: x*1000000)
df['market_value'] = df['market_value'].apply(lambda x: x*1000000)
df